<head>
  <title>Email App</title>
</head>
<body>
  <h1>Email app</h1>
  <input type="text" placeholder="Mittente" #mittente><br>
  <input type="text" placeholder="Destinatario" #destinatario><br>
  <input type="text" placeholder="Soggetto" #soggetto><br>
  <textarea cols="30" rows="10" placeholder="Testo" #testo></textarea>  <br>
  <button (click)="mandaEmail(soggetto.value, testo.value, mittente.value, destinatario.value)" type="Button" name="button">Manda</button>
    <app-sentmail [email]="email.emails"></app-sentmail>
</body>